.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field{
    width: 100%;
  }
}
.add-btn {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  background-color:#f7c152 !important;
  color: #fff !important;
  border: #f7c152;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}
.add-btn:hover {
  background-color:#f5f5f5 !important;
  color: #f7c152 !important;
  border: #fff;
}
