.close-dialog-btn{
  float:right;
  margin:5px;
}

.cancel-dialog-btn{
  background-color: #d45b5b;
  color: #fff;
  margin:5px;
}

.save-dialog-btn{
  background-color: #f7c152;
  color: #fff;
  margin:5px;

}
