.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
}
p{
  font-weight: bold;
  margin-right: 10px;
}
span{
  font-weight: normal;
}

.grid-title{
  text-align: center ;
  color:  #f7c152 !important;
}
.grid-title:hover{
 color:  #d45b5b!important;

}
mat-card-title{
 color:  #d45b5b!important;

}
.add-btn {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  background-color:#f7c152 !important;
  color: #fff !important;
  border: #f7c152;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}
.add-btn:hover {
  background-color:#f5f5f5 !important;
  color: #f7c152 !important;
  border: #fff;
}
